.container {
    font-family: Rye;
    margin-top:15%;

}

.ant-table-cell {
    color:rgb(252, 247, 247);
}

.ant-spin-container:hover {
    color:rgb(0, 0, 0);
}


body{
    overflow: hidden;
    background-image: url('https://img.freepik.com/free-photo/cosmic-background-with-dark-light-blue-laser-lights-perfect-digital-wallpaper_181624-23690.jpg?size=626&ext=jpg&ga=GA1.2.1545555405.1616198400');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}    
table{
    background-image: url('https://i.pinimg.com/originals/8d/88/b0/8d88b094eab735506b66a4494338cf77.jpg');
}

.ant-table-cell:hover{
    color: rgb(17, 17, 17);
}

.ant-table-pagination.ant-pagination {
    opacity:0;
}